<!DOCTYPE html>
<html lang="en">
<head>
  <title>IRA - by 27Two Creative LLP</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Public">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="perspective effect-rotate-left">
        <div class="container"><div class="outer-nav--return"></div>
          <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
              <header class="header">
                <a class="header--logo" href="#0">
                  <img src="{%static '/img/logo.png' %}" alt="IRA">
                  <p>IRA- Integrated Repertoire of Assessments</p>
                </a>
                <button class="header--cta cta">Back to Home</button>
                <div class="header--nav-toggle">
                  <span></span>
                </div>
              </header>
              <nav class="l-side-nav">
                <ul class="side-nav">
                  <li class="is-active"><span>Home</span></li>
                  <li><span>Features</span></li>
                  <li><span>About</span></li>
                  <li><span>Contact</span></li>
                  <li><span>Request Demo</span></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
    </div>


</body>
